body{
    background-color:rgb(127, 212, 234);
    color: white
}

p{
    font-size:20px;
    color:white;
    background-color:rgb(65, 124, 243, .5);
    padding:10px;
    margin:30px;
}

.special{
    border:10px inset rgb(108, 221, 60, .5);
    padding:30px;
    background-color:#61d1d1;
    text-align:center;
    font-family: sans-serif
}

h1{
    font-family: sans-serif;
    font-size:50px;
    font-weight: 500;
}



.highlight{
    border: 5px dashed yellow;
}

img{
max-width:100%;
}

.menu{
    font-style: italic;
}