body{
    background-color:darkkhaki;
    font-family:sans-serif;
}

p{
    font-size:20px;
    color:darkolivegreen;
    background-color:#8cfa17;
    padding:10px;
    margin:30px;
}

.special{
    border:10px inset #dad259;
    padding:30px;
    background-color:#d1cd9c;
    text-align:center;
}

h1{
    font-size:50px;
    font-weight:normal;
    font-style:italic;
}

.highlight{
    border: 5px dashed yellow;
}

img{
max-width:100%;
}