*{
    box-sizing: border-box;
}

body { 
    background-image: url(images/carpet.jpg.webp);
    background-size: 500px;
    width: 6000px;
    height: fit-content;
    padding: 100px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
}

.lid {
    position: absolute;
    height: 1030px;
    width: 1555px;
    z-index: 1000;
    left: 50px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    pointer-events: none;
    /* position: relative; */
}

.tote {
    background-image: url(images/storage-tote.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 150px 300px 300px 200px; */
    height: 1025px;
    width: 1650px;
}

.basket {
    background-image: url(images/basket.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    width: 1500px;
    position: absolute;
    left: 3150px;
}

.box {
    background-image: url(images/box.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    width: 1500px;
    position: absolute;
    left: 4400px;
}

.tub{
    background-image: url(images/tub.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 1000px;
    width: 1200px;
    position: absolute;
    left: 1850px;
}

.keyboard{
    position: absolute;
    
    left: 300px;
    top: 220px;
    width: 650px;
}

#leapstart{
    position: absolute;
    
    top: 415px;
    left: 250px;
    width: 700px;
    rotate: -35deg;
}

#mouse{
    position: absolute;
    
    top: 250px;
    left: 875px;
    width: 225px;
    rotate: 125deg;
}

#l-speaker{
    position: absolute;
    
    top: 220px;
    left: 1100px;
    width: 260px;
    rotate: 60deg;
}

#r-speaker{
    position: absolute;
    
    top: 500px;
    left: 1160px;
    width: 275px;
    rotate: 25deg;
}

.ispy{
    position: absolute;
    
    top: 550px;
    left: 800px;
    width: 250px;
    rotate: 15deg;
}

.pjsam{
    position: absolute;
    
    top: 650px;
    left: 955px;
    width: 250px;
    rotate: -30deg;
}

.spin {
    animation: spin 1s linear;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#cars{
    position: absolute;
    
    top: 650px;
    left: 600px;
    width: 275px;
    rotate: 10deg;
}

#splitter{
    position: absolute;
    
    top: 510px;
    left: 1115px;
    width: 125px;
    rotate: 30deg;
}

#headphones{
    position: absolute;
    
    top: 250px;
    left: 1015px;
    width: 200px;
}

#webkinz-1{
    position: absolute;
    
    top: 475px;
    left: 300px;
    width: 100px;
    rotate: -15deg;
}

#webkinz-2{
    position: absolute;
    
    top: 480px;
    left: 930px;
    width: 100px;
    rotate: -150deg;
}

#webkinz-3{
    position: absolute;
    
    top: 540px;
    left: 1015px;
    width: 100px;
    rotate: 10deg;
}

#webkinz-4{
    position: absolute;
    
    top: 275px;
    left: 1115px;
    width: 100px;
    rotate: 10deg;
}

#discman{
    position: absolute;
    
    top: 610px;
    left: 275px;
    width: 300px;
    rotate: -10deg;
}

.zune-1 {
    position: absolute;
    
    top: 675px;
    left: 875px;
    width: 125px;
    rotate: -10deg;
}

.zune-2 {
    position: absolute;
    
    top: 675px;
    left: 875px;
    width: 125px;
    rotate: -10deg;
    display: none;
    pointer-events: none;
}

.zune-2.on {
    display: block;
}

@keyframes drop {
    0% {
        transform: translateY();
        opacity: 100%
    }

    25% {
        transform: translateY(1000px);
        opacity: 70%;
    }

    100% {
        transform: translateY(1250px);
        opacity: 0%;
    }
}

.toy{
    animation: drop 3.5s forwards linear;
}

/* .box {
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    position: relative;
} */

.component {
    position: absolute;
    top: 150px;
    left: 200px;
    width: 325px;
}

.wiimote {
    position: absolute;
    top: 300px;
    left: 175px;
    width: 425px;
    transform: rotate(-20deg);
}

.shake {
    animation: shake 1s linear;
}

@keyframes shake{
    0% {
        transform: rotate(-20deg);
    }
    5% {
        transform: rotate(-15deg);
    }
    15% {
        transform: rotate(-25deg);
    }
    25% {
        transform: rotate(-15deg);
    }
    35% {
        transform: rotate(-25deg);
    }
    45% {
        transform: rotate(-15deg);
    }
    55% {
        transform: rotate(-25deg);
    }
    65% {
        transform: rotate(-15deg);
    }
    75% {
        transform: rotate(-25deg);
    }
    85% {
        transform: rotate(-15deg);
    }
    95% {
        transform: rotate(-20deg);
    }
}

.microphone {
    position: absolute;
    top: 225px;
    left: 450px;
    width: 250px;
    transform: rotate(-10deg);
}

.wheel {
    position: absolute;
    top: 300px;
    left: 500px;
    width: 400px;
    transform: rotate(30deg);
}

.turn {
    animation: twist 2s linear;
}

@keyframes twist{
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(75deg);
    }
    70% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

.city-folk {
    position: absolute;
    top: 225px;
    left: 675px;
    width: 300px;
    transform: rotate(5deg);
}

.memory {
    position: absolute;
    top: 675px;
    left: 225px;
    width: 90px;
    transform: rotate(10deg);
}

.stylus {
    position: absolute;
    top: 650px;
    left: 550px;
    width: 20px;
    transform: rotate(80deg);
}

.peach {
    position: absolute;
    top: 675px;
    left: 600px;
    width: 20px;
    transform: rotate(275deg);
}

.nintendogs {
    position: absolute;
    top: 625px;
    left: 525px;
    width: 70px;
    transform: rotate(-15deg);
}

.charger {
    position: absolute;
    top: 590px;
    left: 825px;
    width: 150px;
    transform: rotate(-45deg);
}

.disc {
    position: absolute;
    top: 500px;
    left: 625px;
    width: 250px;
}

.gcc {
    position: absolute;
    top: 170px;
    left: 745px;
    width: 315px;
    transform: rotate(-165deg);
}

.groove {
    position: absolute;
    top: 200px;
    left: 350px;
    width: 300px;
    transform: rotate(-10deg);
}

.galaxy {
    position: absolute;
    top: 300px;
    left: 800px;
    width: 250px;
    transform: rotate(-30deg);
}

.remote {
    position: absolute;
    top: 475px;
    left: 900px;
    width: 100px;
    transform: rotate(-170deg);
}










/* .logs {
    position: absolute;
    top: 200px;
    left: 225px;
    width: 700px;
} */

.logs {
    position: absolute;
    top: 165px;
    left: 250px;
    width: 700px;
    transform: rotate(190deg);
}

.alligator {
    position: absolute;
    top: 210px;
    left: 475px;
    width: 400px;
    transform: rotate(-30deg);
}

.redcoat {
    position: absolute;
    top: 525px;
    left: 265px;
    width: 65px;
    transform: rotate(-140deg);
}

.pug {
    position: absolute;
    top: 225px;
    left: 250px;
    width: 250px;
    transform: rotate(155deg);
}

.hamster {
    position: absolute;
    top: 240px;
    left: 675px;
    width: 75px;
    transform: rotate(30deg);
}

.cheese {
    position: absolute;
    top: 245px;
    left: 775px;
    width: 75px;
    transform: rotate(30deg);
}

.pig {
    position: absolute;
    top: 615px;
    left: 260px;
    width: 80px;
    transform: rotate(150deg);
}

.captain {
    position: absolute;
    top: 300px;
    left: 740px;
    width: 50px;
    transform: rotate(-20deg);
}

.first-mate {
    position: absolute;
    top: 325px;
    left: 815px;
    width: 50px;
    transform: rotate(10deg);
}

.walkie-talkie {
    position: absolute;
    top: 300px;
    left: 290px;
    width: 250px;
    transform: rotate(45deg);
}









.spider {
    position: absolute;
    top: 300px;
    left: 725px;
    width: 575px;
    transform: rotate(-10deg);
}

.mummies {
    position: absolute;
    top: 250px;
    left: 600px;
    width: 300px;
    transform: rotate(-10deg);
}

.seuss {
    position: absolute;
    top: 275px;
    left: 675px;
    width: 500px;
    transform: rotate(20deg);
}

.books {
    position: absolute;
    top: 185px;
    left: 450px;
    width: 850px;
}

.knex {
    position: absolute;
    top: 225px;
    left: 200px;
    width: 425px;
}