*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    background-color: lightgray;
    padding: 10px;
    border: 1px solid black;
}

h1{
    background-color: lightgray;
}

body{

}

.indent{
    columns: 2;
    margin-left: 42px;
}