*{
    box-sizing: border-box;
}

body{ 
    background-image: url(images/linoleum.png);
    margin: 50px;
    /* cursor: url(), auto'; */
}

/* .lid{
    position: absolute;
    height: 1080px;
    width: 1555px;
    z-index: 1000;
    left: 50px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: relative;
} */

.container{
    background-image: url(images/storage-tote.png);
    background-repeat: no-repeat;
    background-size: contain;
    /* padding: 150px 300px 300px 200px; */
    height: 1025px;
    width: 1650px;
}

#keyboard{
    position: absolute;
    cursor: move;
    left: 300px;
    top: 170px;
    width: 650px;
}

#leapstart{
    position: absolute;
    cursor: move;
    bottom: 365px;
    left: 250px;
    width: 700px;
    rotate: -35deg;
}

/* #leapstart{
    position: absolute;
    cursor: move;
    bottom: 290px;
    left: 280px;
    width: 600px;
    rotate: -20deg;
} */

#mouse{
    position: absolute;
    cursor: move;
    top: 200px;
    left: 875px;
    width: 225px;
    rotate: 125deg;
}

#l-speaker{
    position: absolute;
    cursor: move;
    top: 180px;
    right: 280px;
    width: 200px;
    rotate: 60deg;
}

/* #l-speaker{
    position: absolute;
    cursor: move;
    top: 175px;
    left: 1025px;
    width: 200px;
    rotate: 45deg;
} */

#r-speaker{
    position: absolute;
    cursor: move;
    bottom: 250px;
    right: 200px;
    width: 200px;
    rotate: 25deg;
}

/* #r-speaker{
    position: absolute;
    cursor: move;
    top: 340px;
    left: 1185px;
    width: 200px;
    rotate: 20deg;
} */

#i-spy{
    position: absolute;
    cursor: move;
    bottom: 350px;
    left: 800px;
    width: 250px;
    rotate: 15deg;
}

#pjsam{
    position: absolute;
    cursor: move;
    bottom: 275px;
    right: 385px;
    width: 250px;
    rotate: -30deg;
}

/* #discman{
    position: absolute;
    cursor: move;
    bottom: 225px;
    left: 625px;
    width: 300px;
    rotate: 100deg;
} */

#cars{
    position: absolute;
    cursor: move;
    bottom: 265px;
    left: 600px;
    width: 275px;
    rotate: 10deg;
}

#splitter{
    position: absolute;
    cursor: move;
    top: 460px;
    right: 350px;
    width: 125px;
    rotate: 30deg;
}

#headphones{
    position: absolute;
    cursor: move;
    top: 200px;
    right: 375px;
    width: 200px;
}

#webkinz-1{
    position: absolute;
    cursor: move;
    top: 425px;
    left: 300px;
    width: 100px;
    rotate: -15deg;
}

#webkinz-2{
    position: absolute;
    cursor: move;
    top: 430px;
    right: 560px;
    width: 100px;
    rotate: -150deg;
}

#webkinz-3{
    position: absolute;
    cursor: move;
    top: 490px;
    right: 475px;
    width: 100px;
    rotate: 10deg;
}

#webkinz-4{
    position: absolute;
    cursor: move;
    top: 225px;
    right: 375px;
    width: 100px;
    rotate: 10deg;
}

/* #cars{
    position: absolute;
    cursor: move;
    bottom: 300px;
    left: 300px;
    width: 275px;
    rotate: 20deg;
} */

#discman{
    position: absolute;
    cursor: move;
    bottom: 225px;
    left: 275px;
    width: 300px;
    rotate: -10deg;
}

#zune{
    position: absolute;
    cursor: move;
    bottom: 250px;
    left: 875px;
    width: 125px;
    rotate: -10deg;
}

#{
    position: absolute;
    cursor: move;
    bottom: 250px;
    left: 300px;
    width: 600px;
}

#{
    position: absolute;
    cursor: move;
    bottom: 250px;
    left: 300px;
    width: 600px;
}

@keyframes drop {
    0% {
        transform: translateY();
        opacity: 100%
    }

    25% {
        transform: translateY(750px);
        opacity: 70%;
    }

    100% {
        transform: translateY(3000px);
        opacity: 0%;
    }
}

.toy.fall{
    animation: drop 3.5s forwards linear;
    position: absolute;
    height: 1080px;
    width: 1555px;
    z-index: 1000;
    left: 50px;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    pointer-events: none;
    /* position: relative; */
}

@keyframes example {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(2);
    }
}

@keyframes shrink {
    0% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.box.animated {
    animation: example .5s forwards;
    z-index: 100;
}

.box.scaledown {
    animation: shrink 1s forwards linear;
}

/* .box {
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    position: relative;
} */