* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-image: url(charcoal-paper.JPG);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
    color: whitesmoke;
    opacity: 85%;
    text-align: center;
    /* text-shadow: 2px 2px black; */
    
}

h1 {
    font-weight: bold;
}

h2 {
    font-weight: normal;
}

p {
    font-weight: bold;
    color: black;
    text-align: left;
    padding-left: 15vw;
}

a {
    color: cyan;
}

ul {
    text-align: left;
}

.space {
    height: 10vh;
}

.pages-list {
    width: 40vw;
    margin: auto;
}