*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

h1{
    font-family: monospace;
}

body{
    color: white;
    background-image: url("images/screen-background.png");
    background-size: 100%;
    margin: 15% 12%;
    font-family: monospace;
}

a{
    color: white;
}

.fixed{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -99;
}