* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}




/* IMAGES */

.block {
    width: 100%;
    height: 100%;
    position: absolute;
}

.pics {
    z-index: 0;
    position: absolute;
    top: -100%;
    pointer-events: none;
    opacity: 75%;
    box-shadow: 5px 5px 20px black;
}


/* development chart */

.half {
    top: 50%;
}

.dvt {
    width: 30%;
    left: 55%;
}


/* game maker studio */

.one {
    top: 60%;
}

.gms {
    width: 25%;
    left: 75%;
    transform: translateY(-50%);
}


/* designer */

.designer {
    top: 85%;
}

.dsr {
    width: 35%;
    left: 65%;
}


/* ubisoft */

.ubisoft {
    top: 110%;
}

.ubs {
    width: 30%;
    left: 70%;
}

/* rockstar */

.rockstar {
    top: 110%;
}

.rs {
    width: 10%;
    left: 50%;
}


/* nintendo */

.nintendo {
    top: 130%;
}

.ntd {
    width: 25%;
    left: 62%;
}


/* no man's sky */

.one-half {
    top: 155%;
}

.nms {
    width: 40%;
    left: 65%;
}


/* iphone */

.iphone {
    top: 185%;
}

.ipg {
    width: 25%;
    left: 80%;
}


/* gamestop */

.two {
    top: 200%;
}

.gs {
    width: 20%;
    left: 60%;
}


/* cyberpunk */

.cyberpunk {
    top: 230%;
}

.cbp {
    width: 25%;
    left: 60%;
}


/* cod */

.three {
    top: 230%;
}

.bb {
    width: 20%;
    left: 75%;
}


/* ori */

.oriww {
    top: 265%;
}

.ori {
    width: 35%;
    left: 70%;
}


/* computer */

.computer {
    top: 295%;
}

.pc {
    width: 30%;
    left: 60%;
}


/* steam deck */

.four {
    top: 310%;
}

.sd {
    width: 20%;
    left: 80%;
}


/* ps5 */

.five {
    top: 325%
}

.ps {
    width: 20%;
    left: 65%;
}


/* uncharted*/

.uncharted {
    top: 375%;
}

.ucd {
    width: 30%;
    left: 70%;
}


/* game review */

.six {
    top: 400%;
}

.rv {
    width: 40%;
    left: 65%;
}


/* ign review */

.review {
    top: 420%;
}

.ign {
    width: 25%;
    left: 75%;
}


/* grossing chart*/

.chart {
    top: 450%;
}

.cht {
    width: 25%;
    left: 65%;
}


/* stonks */

.seven {
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 535%;
}

.st {
    width: 20%;
    left: 75%;
}





/* MAP TEXT */

.block-block {
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

body {
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 1050px;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9vw;
    text-shadow: 5px 5px 2.5px black;
}

.text {
    position: relative;
    display: block;
    margin: 0;
    top: 0;
    padding: 10vw;
    /* transform: translateY(-55%); */
}

.map-text {
    color: white;
    /* font-weight: bold; */
}

.elements {
    color: mediumslateblue
}

.attributes {
    color: skyblue;
}

.tags {
    color: salmon;
}




/* BACKGROUND */

.background {
    width: 100vmax;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    pointer-events: none;
}